:root {
    --primary-color: #151a15;
    --header-color: #262b26;
    --grid-color: #1d241a;
    --text-color: #99856c;
    --link-color: #7d9c84;
    --hover-color: #c2aa92;
    --visited-link-color: #798074;
    --active-link-color: #690000;
    --black-color: #000000;
    --highlight-color: #b15e00;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    background: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

.web {
    color: var(--highlight-color);
    background-color: var(--black-color);
}

a {
    color: var(--link-color);
}
a:visited {
    /* visted link */
    color: var(--visited-link-color);
}
a:hover, a:focus {
    /* No underline when hovering over a link */
    text-decoration: none;
}
a:active {
    /* selected link */
    color: var(--active-link-color);
}

button, .button {
    border: none;
    font-family: inherent;
    background-color: var(--text-color);
    color: var(--primary-color);
    text-decoration: none;
    font-weight:600;
    width:fit-content;
    padding: 5px;
    border-radius: 5px;
    transition: background-color .5s;
}
button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    background: var(--hover-color);
}
button:active, .button:active {
    background-color: var(--active-link-color);
}
button:visited, .button:visited {
    color: var(--primary-color);
}

.header-background {
    background-color:  var(--header-color);
}

.page-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.page-header__item{
    flex: 0 1 50px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
    padding-right: 10px;
}

.logo{
    height: 50px;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile {
    width: 100%;
    display:flex;
    padding: 20px;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.profile__portrait {
    align-self: center;
    width: 150px;
    max-width: 100%;
    margin-right: 40px;
    border-radius: 50%;
}

.skyline {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-inline: 18%;
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes color-change {
    0% {
        fill: #b1a941;
    }
    50% {
        fill: #a07311;
      }
    100% {
        fill:#a01d0c;
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

@keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
  }

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:auto;
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
}

.page-footer__logo {
    height: 40px;
    margin-inline: 5px;
}

/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}
/* end grid fallback */

@supports(display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 15px;
    }
    .grid__item {
        background-color: var(--grid-color);
        width: auto;
        padding: 20px;
    }
    .grid__item:last-child {
        grid-column: 3/3;
        grid-row: 1/3;
    }
}

@media all and (max-width: 510px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 510px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

.container {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.table {
    display: flex;
    width: 400px;
    min-width: fit-content;
    justify-content: center;
}

table {
    width: 100%;
    max-width: 400px;
}

th {
    background-color: var(--header-color);
}

td {
    text-align: center;
    background-color: var(--grid-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
}

label {
    font-weight: 500;
}

input ,textarea{
    background-color: #1d241a;
    color: var(--text-color);
    border-color: var(--black-color);
    margin: 5px;
}